<!DOCTYPE html>

<html>

	<head>
		<title>Awesome Night Life - Search</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	

	<body>
		<div class="container">
			<a href='/' style='text-decoration:none'><h1 class='text-center appName'>Awesome Night Life</h1></a>
			<form action='results'>
			    <input type='text' name='city' placeholder="&#xF002; Type the name of the city you're looking for!" style="font-family:Arial, FontAwesome"required='required'/>
			    <input type="submit" value='Submit' class='btn submit-btn'/>
			    
			</form>
			<i class="fa fa-map-marker icon-location fa-2x" aria-hidden="true"></i>
			{{#if error_msg}}
				<div class="alert alert-danger text-center" style='width:45%; margin-top:50px'>{{error_msg}}</div>
		{{/if}}
			<div class='alert alert-danger text-center noLocation' style='margin-top:40px; display:none; '>Your browser does not support geolocation</div>
		</div>
		<div ><img class='yelp-img'src="/public/img/Yelp.png"/></div>
		
		<a id=redirect></a>
		
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type='text/javascript' src='controllers/searchController.client.js'></script>
	</body>

</html>